.column {
  flex: 1;
  background-color: var(--color-background);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: #2a9b8f 3px solid;
}

.actions{
  display: flex;
  gap: 0.5rem;
}

.updateBtn{
  background-color: #2a9b8f;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.updateBtn:hover{
  background-color: #1f7a6d;
}
.deleteBtn{
  background-color: #ff4d4d;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.deleteBtn:hover{
  background-color: #e63946;
}
