.board {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: var(--color-background);
  min-height: 100vh;
}
.addButton {
  background-color: #2a9b8f;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: black 2px solid;
}
.addButton:hover {
  background-color: #1f7a6d;
}